<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link rel="stylesheet" href="/css/cover.css">
    <title>Create a poll</title>
</head>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        {{>header}}
        <main role="main" class="inner cover">
            {{!-- Start of app code --}}
            <p class="lead">Enter your poll information.</p>
            <form action="submit">
                <input class="rounded-input form-control" placeholder=" Poll Title">
                <br>
                <input class="form-check-input" id="multButton" type="checkbox" value="multi">
                <label for="multButton">Allow multiple answers?</label>
                <br>
                <label for="input-1">Placeholder input label</label>
                <input class="rounded-input form-control" id="input-1" type="text">
                <br>
                <label for="input-1">Placeholder input label</label>
                <input class="rounded-input form-control" id="input-1" type="text">
                <br>
                <button class="btn btn-secondary">+</button>
                <br>
                <br>
                <button class="btn btn-secondary">Create poll</button>

            </form>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et sem feugiat, pharetra
                purus vel, molestie ipsum.</p>

            {{!-- End of app code --}}

        </main>
        {{>footer}}
    </div>

    <script src='/js/jquery-3.4.1.min.js'></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>