<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <p>Enter poll ID to get started.</p>
        
    <form>
        <input placeholder="Poll ID">
        <button>Go</button>
    </form>

    <script src="/js/app.js"></script>
</body>
</html>