<!DOCTYPE html>
<html>

<head>
    {{>head}}
    <title>AnonVote</title>
</head>

<body onload="$('#vote').hide()">
    {{>header}}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Welcome to <span>Moderna</span></h2>
                    <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est
                        quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem.
                        Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Lorem Ipsum Dolor</h2>
                    <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est
                        quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem.
                        Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Sequi ea ut et est quaerat</h2>
                    <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est
                        quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem.
                        Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
                </form>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et sem feugiat, pharetra
                    purus vel, molestie ipsum. Morbi at elit sem. Integer nec velit non lorem facilisis dignissim. Fusce
                    egestas, dui sit amet aliquet dapibus.</p>
                </main>
                {{>footer}}
            </div>

            <script src='/js/jquery-3.4.1.min.js'></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/vote.js"></script>
</body>

</html>