<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <h3>AnonVote</h3>
        <nav>
            <a href="/">Home</a>
            <a href="/create">Create</a>
        </nav>
    </header>
    <h1>{{headerText}}</h1>
    
    {{{body}}}

    <footer>
        <p>AnonVote &copy; 2020</p>
    </footer>
</body>
</html>