<section id="" class="d-flex justify-cntent-center align-items-center main-section main-section-background main-section-width"> 
    <div id="" class="container main-section">
        <div class="main-section">
            <div class="main-section">
                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <p class="animated fadeInDown">
                    <h5>The poll you are looking for does not exist, or an error occured.</h5>
                </p>
                <p class="animated fadeInDown">
                    <h5>Go back, or head over to pro-polls.herokuapp.com to choose another poll.</h5>
                </p>
            </div>
        </div>
    </div>
</section>
