<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
        <!-- Slide 1 -->
        <div class="carousel-item active">

            <div class="carousel-container">

                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <p class="animated fadeInDown">
                    <h5>The poll you are looking for does not exist, or an error occured.</h5>
                </p>
                <p class="animated fadeInDown">
                    <h5>Go back, or head over to ProPolls.com to choose another poll.</h5>
                </p>

            </div>

        </div>

    </div>

</section>
<!-- ======= End of Hero Section ======= -->