<section class="about" data-aos="fade-up">
    <div class="container">
        <h2 class="animated fadeInDown">{{headerText}}</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>Pro Polls, the anonymous polling site for you</h3>
                <ul>
                    <li><i class="icofont-check-circled"></i> Create and Vote anonymously on polls.</li>
                    <li><i class="icofont-check-circled"></i> Express your opinions openly and honestly.</li>
                    <li><i class="icofont-check-circled"></i> Avoid the awkwardness with giving someone your opinion,
                        and avoid being disingenuous.</li>
                </ul>
                <p>
                    We set out to create a way for people to create and vote on polls without having to attach their
                    name to their vote.
                    With this, people can respond to questions, without having to be disingenuous, or not be completely
                    honest so they don't
                    make anyone upset. On Pro Polls, people are free to create and vote on polls anonymously, giving
                    their full, honest opinion,
                    without making anything awkward.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 pt-4 pt-lg-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Technologies used:</strong>
                        <ul>
                            <li>Node.js</li>
                            <li>Express.js</li>
                            <li>MongoDB</li>
                            <li>Mongoose</li>
                            <li>Socket.io</li>
                            <li>Chart.js</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Lead Developer - Joe Chung</strong>
                        <p>Connect with Joe on <a href="https://www.linkedin.com/in/chunggjo/"
                                target="_blank">LinkedIn</a> and <a href="https://github.com/chunggjo"
                                target="_blank">GitHub</a>.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>Full Stack Developer - Chris Calva</strong>
                        <p>Connect with Chris on <a href="https://www.linkedin.com/in/christophercalva/"
                                target="_blank">LinkedIn</a>
                            and <a href="https://github.com/ChristopherCalva" target="_blank">GitHub</a>.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>Frontend Designer - Derek Bagagem</strong>
                        <p>Connect with Derek on <a href="https://www.linkedin.com/in/derek-bagagem/"
                                target="_blank">LinkedIn</a>
                            and <a href="https://github.com/bagagemd" target="_blank">GitHub</a>.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>Quality Assurance:</strong>
                        <p></p>
                        <strong>Anthony Pitera</strong>
                        <p>Connect with Anthony on <a href="https://www.linkedin.com/in/anthony-pitera-computer-media/"
                                target="_blank">LinkedIn</a>
                            and <a href="https://github.com/StarFoxLink" target="_blank">GitHub</a>.</p>
                        <strong>Dylan Griswold</strong>
                        <p>Connect with Dylan on
                            <a href="https://github.com/DylanGriswold" target="_blank">GitHub</a>.</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <a href="https://github.com/chunggjo/pro-polls" target="_blank"><img src="assets/img/Octocat.png"
                        class="img-fluid" alt=""></a>
                <small>Press Octocat to visit Pro Polls on GitHub!</small>
            </div>
        </div>
    </div>
</section>

<script src='/js/jquery-3.4.1.min.js'></script>
<script src='/js/createPoll.js'></script>