<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <p>howdy</p>
            </div>
        </div>
    </div>

    <script src='/js/jquery-3.4.1.min.js'></script>
    <script src='/js/createPoll.js'></script>
</section>