<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <form class="animated fadeInDown">
                    <div>
                        <label for="pollTitle">Title</label>
                        <input class="create-input" type="text" name="pollTitle" id="pollTitle">
                    </div>
                    <div id="options">
                        <div id='1'>
                            <label for="option-1">Option 1</label>
                            <input id="option-1" type="text" class="option create-input" name="option">
                        </div>
                        <div id='2'>
                            <label for="option-2">Option 2</label>
                            <input id="option-2" type="text" class="option create-input" name="option">
                        </div>
                    </div>
                    <button class="submit-button animated fadeInUp" id='create'>Create</button>
                </form>
                <p id="message"></p>
                <div>
                    <button class="submit-button animated fadeInUp" id="addOption">+</button>
                    <button class="submit-button animated fadeInUp" id="removeOption">-</button>
                </div>
            </div>
        </div>
    </div>

    <script src='/js/jquery-3.4.1.min.js'></script>
    <script src='/js/createPoll.js'></script>
</section>