<form>
    <div>
        <label for="pollTitle">Title</label>
        <input type="text" name="pollTitle" id="pollTitle">
    </div>
    <div id="options">
        <div id='1'>
            <label for="option-1">Option 1</label>
            <input type="text" class="option" name="option-1">
        </div>
        <div id='2'>
            <label for="option-2">Option 2</label>
            <input type="text" class="option" name="option-2">
        </div>
    </div>
    <button id='create'>Create</button>
</form>
<p id="message"></p>
<div>
    <button id="addOption">+</button>
    <button id="removeOption">-</button>
</div>
<script src='/js/jquery-3.4.1.min.js'></script>
<script src='/js/createPoll.js'></script>
