
<section id="" class="d-flex justify-cntent-center align-items-center index main-section main-section-background main-section-width">
    <div id="" class="container main-section">
        <div class="main-section">
            <div class="main-section">
                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <p class="animated fadeInDown">Enter poll ID to get started.</p>
                <form class="index-form animated fadeInUp" type="submit" method="post" action="">
                    <input type="text" placeholder="Poll ID (e.g. 1)">
                    <button class="input-button">Go</button>
                </form>

                {{#unless newUser}}
                <aside>
                    <p>Your recently viewed polls:</p>
                    <ul>
                        {{#each viewedPolls}}
                        <li class="viewedPoll"><a href='/polls/{{this.id}}'>{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </aside>
                {{/unless}}
            </div>
        </div>
    </div>
</section>


<script src="/js/common/goToPoll.js"></script>