<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">{{headerText}}</h2>
                <p class="animated fadeInDown">Enter poll ID to get started.</p>
                <form class="index-form animated fadeInUp" type="submit" method="post" action="">
                    <input type="text" placeholder="Poll ID">
                    <button class="input-button">Go</button>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Hero -->


<script src="/js/goToPoll.js"></script>