<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">Welcome to <span>AnonVote</span></h2>
                <p class="animated fadeInUp">Enter poll ID to get started.</p>
                <form class="animated fadeInUP">
                    <input placeholder="Poll ID">
                    <button>Go</button>
                </form>
                <a href="/" class="btn-get-started animated fadeInUp">Create a Poll</a>
            </div>
        </div>
    </div>
</section><!-- End Hero -->


<script src="/js/goToPoll.js"></script>