<h2>{{pollTitle}}</h2>
<form>
    <div>
        {{#radioButtons options}}
            
        {{/radioButtons}}
        <div>
            <button id="voteButton">Vote</button>
        </div>
    </div>
</form>
<script src=/js/vote.js></script>