<h2>{{pollTitle}}</h2>
<form>
    <div>
        {{#createPollForm options}}
            
        {{/createPollForm}}
        <div>
            <button id="voteButton">Vote</button>
        </div>
    </div>
</form>
<p id="message"></p>
<button id='copyUrl'>Copy link</button>
<div>
    <input type="text" id="urlText">
</div>

<script src='/js/vote.js'></script>

