
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <div class="carousel-item active">

            <div class="carousel-container">

                <h2 class="animated fadeInDown">{{pollTitle}}</h2> 
                <form>
                    <div id='options'>

                    </div>
                    <div> <button class="submit-button animated fadeInUp" id="voteButton">Vote</button> </div>
                </form>
                <p id="message"></p>
                <button class="submit-button animated fadeInUp" id='copyUrl'>Copy link</button>
                <input class = "create-input option animated fadeInUp" type="text" id="urlText" readonly>

            </div>

        </div>

    </div>
<script>
    var options = '{{{json options}}}'
    const pollId = '{{json pollId}}'
</script>
<script src='/js/vote.js'></script>