
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <div class="carousel-item active">

            <div class="carousel-container">

                <h2 class="animated fadeInDown">{{poll.title}}</h2> 
                <form>
                    <div id='options'>

                    </div>
                    <div> <button class="submit-button animated fadeInUp" id="voteButton">Vote</button> </div>
                </form>
                <p id="message"></p>
                <button class="submit-button animated fadeInUp" id='copyUrl'>Copy link</button>
                <input class = "create-input option animated fadeInUp" type="text" id="urlText" readonly>

            </div>

        </div>

    </div>
<script>
    const poll = (function(){
        const options = JSON.parse('{{{json poll.options}}}')
        const pollId = '{{poll.id}}'

        let html = ''
        for(let i = 0; i < options.length; i++){
            let option = options[i].option
            let votes = options[i].votes
            html+='<div>'
            html+='<input id="'+option+'" type="radio" name="option" value="'+option+'">'
            html+='<label for="'+option+'">'+option+' - <span id="'+option+'-votes">'+votes+'</span> votes</label>'
            html+='</div>'
        }
        
        return {
            options,
            id:pollId,
            html
        }
    })()

    document.querySelector('#options').innerHTML=poll.html
    document.querySelector("input").checked=true
</script>

<script src='/js/vote.js'></script>
<script src='/js/copyUrl.js'></script>