<h2>{{pollTitle}}</h2>
<form>
    <div>
        {{#createPollForm options}}
            
        {{/createPollForm}}
        <div>
            <button id="voteButton">Vote</button>
        </div>
    </div>
</form>
<p id="message"></p>
<script src=/js/vote.js></script>